@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
* {
  box-sizing: border-box;
}
@mixin stroke($color: white, $size: 2px) {
  text-shadow: -#{$size} -#{$size} 0 $color, 0 -#{$size} 0 $color,
    #{$size} -#{$size} 0 $color, #{$size} 0 0 $color, #{$size} #{$size} 0 $color,
    0 #{$size} 0 $color, -#{$size} #{$size} 0 $color, -#{$size} 0 0 $color;
}
@mixin mobile {
  @media screen and (max-width: (768px)) {
    @content;
  }
}
:root {
  --green: rgb(191 174 6);
  --dark-green: #233c02;
  --blue: rgba(80, 53, 255, 1);
  --light-blue: rgba(46, 217, 255, 0.9);
  --orange: #d8923e;
  --beige: beige;
  --dark-grey: rgb(70 88 92);
}
body {
  align-items: center;
  background: rgba(11, 36, 52, 1);
  background-color: rgb(36 77 3);
  background-image: url('../assets/images/forest.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--beige);
  display: flex;
  font-family: 'Pacifico', cursive;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
}

main {
  align-items: center;
  background: var(--dark-green);
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 114px 0px var(--orange);
  -moz-box-shadow: 0px 0px 114px 0px var(--orange);
  box-shadow: 0px 0px 114px 0px var(--orange);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 50vh;
  min-width: 320px;
  padding: 20px;
  position: relative;
  header {
    align-items: flex-start;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    width: 100%;
    @include mobile {
      align-items: center;
      flex-direction: column;
    }
    .header-left {
      align-content: flex-start;
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      h1 {
        @include stroke;
        color: var(--orange);
        margin: 0;
      }
      .logo {
        left: -40px;
        position: absolute;
        top: -49px;
        transform: rotate(-7deg);
        @include mobile {
          position: static;
          transform: none;
        }
      }
    }
    .score-board {
      @include mobile {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
      }
    }
  }
  .cards {
    align-items: center;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, minmax(120px, 1fr));
    justify-items: center;
    .card {
      background-color: var(--beige);
      border-radius: 10px;
      margin: 0;
      overflow: hidden;
      position: relative;
      transition: all 0.2s ease-in;
      width: 100px;
      &.is-clicked svg.card-bg path {
        // fill: orange;
      }
      img {
        display: block;
        max-width: 100%;
      }
      svg.card-bg {
        height: inherit;
        width: 100%;
        path {
          fill: #fff;
          transition: 0.6s;
        }
      }
      &:hover {
        box-shadow: 0px 0px 30px var(--orange);
        cursor: pointer;
        -moz-transition: all 0.2s ease-in;
        -o-transition: all 0.2s ease-in;
        -webkit-transition: all 0.2s ease-in;
        transition: all 0.2s ease-in;
        svg.card-bg path {
          fill: var(--orange);
        }
      }
    }
  }
}
p {
  text-align: center;
}
.info {
  background: var(--dark-grey);
  border-radius: 10px;
  color: white;
  padding: 4px;
}
button {
  border: none;
  border-radius: 4px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  font-size: 1em;
  padding: 10px 20px;
  &.roll {
    background: var(--green);
    color: white;
    &:hover {
      background: var(--orange);
      color: white;
    }
  }
}

.confetti {
  height: 100%;
  width: 100%;
}
